<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="witparking.inspection.inspectionqrcode">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application>
        <activity android:name=".zxing.android.CaptureActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>
