<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="witparking.inspection.inspectionocr">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 读取机器各种ID的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问震动权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:configChanges="orientation|keyboard|keyboardHidden|screenSize" android:name=".CameraActivity" />
        <service android:name="com.ice.iceplate.RecogService" />
        <service android:name="com.ice.iceplate.ActivateService" />
    </application>
</manifest>
